In [4]:
import pandas as pd
from collections import defaultdict
from collections import Counter
from pathlib import Path
from bs4 import BeautifulSoup
import requests
import csv 
import re
from langdetect import detect
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer 
from nltk.tokenize import RegexpTokenizer
import json
import nltk
import re
import heapq
import math
import string
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\giogi\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [2]:
f = open("homework.txt", "w")

for i in range(1,301):
    page = requests.get("https://www.goodreads.com/list/show/1.Best_Books_Ever?page=" + str(i))
    soup = BeautifulSoup(page.content, features="lxml")
    links = soup.find_all('a', itemprop='url', class_='bookTitle')
    for link in links:
        fullLink = link.get('href')
        f.write('https://www.goodreads.com' + fullLink + '\n')
f.close()

In [13]:
path = 'D:/Storage file PC/Documenti/Università/Data Science/Anno 1/Semestre 1/Algorthmic Methods of Data Mining/Homeworks/HW3/st/'

f = open("homework.txt", "r")

ff = f.readlines()

for i in range(30000, len(ff)+1):
    
    folderName = "folder-" + str(i) + "/"
    fileName = "article_" + str(i) + ".html"
    

    url = ff[i-1]
    
    Path(path + folderName).mkdir(parents=True, exist_ok=True)

    page = requests.get(url)
    code = str(page.text)

    with open(path + folderName + fileName, "w", encoding="utf-8") as z:
        z.write(code)

    z.close()
f.close()

In [15]:
personalPath = "D:/Storage file PC/Documenti/Università/Data Science/Anno 1/Semestre 1/Algorthmic Methods of Data Mining/Homeworks/HW3/st/folder-"

In [ ]:
data = ['bookTitle', 'bookSeries', 'bookAuthors', 'ratingValue', "ratingCount",\
        "reviewCount", "plot", "numberOfPages", "publishingDate", "characters", "setting", "url"]

personalPath = "D:/Storage file PC/Documenti/Università/Data Science/Anno 1/Semestre 1/Algorthmic Methods of Data Mining/Homeworks/HW3/st/folder-"

for i in range(18001, 30001):
    with open(personalPath + str(i) + "/article_" + str(i) + ".html", 'rb') as html: 
        soup = BeautifulSoup(html,"html.parser")
    #plot = soup.find('div',id='description').text.strip()  
    try:
        plot = soup.find('div',id='description').text.strip()
        if detect(plot)=='en':
            lista=[]

            #title
            try:
                lista.append(soup.find('h1').text.strip())
            except:
                lista.append('')

                #bookseries
            try:
                lista.append(soup.find('h2',id='bookSeries').text.strip())
            except:
                lista.append('')

                #author name
            try:
                lista.append(soup.find('a',class_='authorName').text.strip())
            except:
                lista.append('')

                #rating value
            try:
                lista.append(soup.find('span', itemprop='ratingValue').text.strip())
            except:
                lista.append('')

                #ratingCount
            try:
                lista.append(soup.find_all('a',class_='gr-hyperlink',href='#other_reviews')[0]\
                             .text.strip().replace('\r', '').replace('\n', '').split()[0])
            except:
                lista.append('')

                #reviewCount
            try:
                lista.append(soup.find_all('a',class_='gr-hyperlink',href='#other_reviews')[1]\
                             .text.strip().replace('\r', '').replace('\n', '').split()[0])
            except:
                lista.append('')

                #plot
            try:
                if plot[-7:] == '...more':
                    lista.append(soup.find('div',id='description').contents[3].text)
                else:
                    lista.append(plot)
            except:
                lista.append('')

                #number of pages
            try:
                lista.append(soup.find('span', itemprop='numberOfPages').text.strip().split()[0])
            except:
                lista.append('')

                #Publishing Date
            try:
                a=soup.find_all('div', class_='row')[1].text
                match_obj = re.split('Published', re.split('by', a)[0])[1]
                lista.append(match_obj.strip())
            except:
                lista.append('')

                #characters
            try:
                l1=[]
                for d in soup.find_all('a',href=re.compile(r'/characters/*')):
                    l1.append(d.text)
                    s1=",".join(l1)
                lista.append(s1)
            except:
                lista.append('')

                #setting
            try:
                l2=[]
                for e in soup.find_all('a',href=re.compile(r'/places/*')):
                    l2.append(e.text)
                    s2=",".join(l2)
                lista.append(s2)
            except:
                lista.append('')

                #URL
            lista.append(soup.find('link')['href'].strip())

            path = personalPath + str(i) + '/article_' + str(i)+ '.tsv'

            with open(path, 'w', newline='',encoding="utf-8") as f_output:
                tsv_output = csv.writer(f_output, delimiter='\t')
                tsv_output.writerow(data)
                tsv_output.writerow(lista)
                f_output.close()
        
        else:
            print('This book is not in english: '+ str(i))
            
    except:
        print('Missing plot for book: '+ str(i))

In [16]:
i = 1
index = 1

new_file = open('index_books.tsv', 'w')

while i <= 30000:
    try:
        art_f = open(personalPath + str(i) + "/article_" + str(i) + ".tsv", 'r')
        art = art_f.readlines()[1]
        new_file.write(str(index) + "\t" + art)
        art_f.close()
        i += 1
        index += 1
    except:
        i += 1

new_file.close()

In [2]:
nodigit = lambda wordslist : [word for word in wordslist if word.isalpha()]

In [ ]:


f = open("books.tsv", 'r')
books = f.readlines()

new_file = open('vocabolary.tsv', 'w')

ps = PorterStemmer()

term_id = 1
document_id = 1

vocabolary = dict()
diz = defaultdict(set)

for book in books:
    tokenizer = RegexpTokenizer(r"[a-zA-Z]+") 
    text_tokens = nodigit(tokenizer.tokenize(book.split('\t')[6]))
    tokens_without_sw = {word for word in text_tokens if not word in stopwords.words()}
    for word in tokens_without_sw:
        w = ps.stem(word.lower())
        if w not in vocabolary:
            vocabolary[w] = term_id
            diz[term_id].add(document_id)
            new_file.write(w + "\t" + str(term_id) + '\n')
            term_id += 1
        else:
            diz[vocabolary[w]].add(document_id)
    print('Finished document ' + str(document_id))
    document_id += 1
    
new_file.close()
f.close()


with open("dictionary.json", "w") as outfile: 
    json.dump(dict(zip(diz.keys(), map(list, diz.values()))), outfile, indent = 4)

In [93]:
ds = pd.read_csv('index_books.tsv', header=None, sep='\t', usecols=[0,1,7,12])

ds.rename(columns={0:'index', 1:'bookTitle', 7:'plot', 12:'url'}, inplace=True)

voc = dict()
with open('vocabolary.tsv') as f:
    for col1, col2 in csv.reader(f, delimiter='\t'):
        voc[col1] = col2
        
with open('dictionary.json') as f:
    dt = json.load(f) # dictionary


def query(q):

    ps = PorterStemmer()

    q = q.strip().split() # input from user
    
    ps = PorterStemmer()
    q = [ps.stem(w).lower() for w in q]

    # elaborate query
    
    # take term_id(s)
    term = list()
    for w in q:
        try:
            term.append(voc[w])
        except:
            pass
    # matching documents
    if len(term):
        doc = set(dt[term[0]])
        for i in range(1, len(term)):
            doc = doc.intersection(dt[term[i]])
        # take row from books
        return ds[ds['index'].isin(list(doc))].head()
    else:
        return "There aren't documents for each word of this query"

In [ ]:
voc = dict()
with open('vocabolary.tsv') as f:
    for col1, col2 in csv.reader(f, delimiter='\t'):
        voc[col1] = col2
        
with open('dictionary.json') as f:
    dt = json.load(f) # dictionary
    
ds = dict()
with open('index_books.tsv') as f:
    for row in csv.reader(f, delimiter='\t'):
        if len(row) == 13:
            ds[row[0]] = row[7]


result = defaultdict(list)
term_idf = defaultdict(float)

for doc_id in ds:
    
    ps = PorterStemmer()
    tokenizer = RegexpTokenizer(r"[a-zA-Z]+") 
    text_tokens = nodigit(tokenizer.tokenize(ds[doc_id]))
    tokens_without_sw = [ps.stem(w.lower()) for w in text_tokens if not w in stopwords.words()]
    
    plotLength = len(tokens_without_sw)
    count = Counter(tokens_without_sw)
    
    for word in count:
        freq = count[word]
        try:
            term_id = str(voc[word])
            idf = 1.0 + math.log( float(len(ds)) / len( dt[term_id] ) )
            tf = freq / plotLength
            tfIdf = tf * idf

            
            heapq.heappush(result[term_id], (tfIdf, doc_id))
            term_idf[term_id] = idf

        except:
            pass

inv_ind = defaultdict(list)
for term, tup_list in result.items():
    for tup in tup_list:
        inv_ind[term].append( (int(tup[1]), tup[0]) )


with open("inverted_index.json", "w") as outfile: 
    json.dump(result, outfile, indent = 4)

with open("term_idf.json", "w") as outfile: 
    json.dump(term_idf, outfile, indent = 4)

In [5]:
with open('term_idf.json') as f:
    term_idf = json.load(f)

with open('inverted_index2.json') as f:
    inverted = json.load(f)
    
inv_ind = defaultdict(dict)
for term in inverted:
    for t in inverted[term]:
        inv_ind[term][t[0]] = t[1]

dot = lambda x, y : sum(xi*yi for xi, yi in zip(x, y))
square = lambda x : [v**2 for v in x]
det = lambda x : math.sqrt(sum(square(x)))
    
def similarity(q):
    ps = PorterStemmer()
    # execute query
    err = "There aren't documents for each word of this query"
    q_result = query(q)
    if not isinstance(q_result, str):
        q = q.strip().split() # input from user
        q = [ps.stem(w).lower() for w in q]
        # create a list of ifidf of terms
        term_ifidf = list()
        tf = 1/len(q)
        for w in q:
            term_ifidf += [term_idf[voc[w]]*tf]
        # create a list of ifidf of document
        doc_ifidf = defaultdict(list)
        for d_id in q_result['index']:
            for w in q:
                doc_ifidf[d_id].append(inv_ind[voc[w]][d_id])
        #compare value and calculate similarity
        cos_sim = list()
        det_q = det(term_ifidf)
        for doc in q_result['index']:
            prod = dot(doc_ifidf[doc], term_ifidf)
            det_doc = det(doc_ifidf[doc])
            cos_sim += [(prod / (det_q * det_doc))]
        q_result['similarity'] = cos_sim
        return q_result.sort_values(by=['similarity', 'index'], ascending=False).head()
    else:
        return err

In [8]:
ds = pd.read_csv('index_books.tsv', header=None, sep='\t', usecols=[0,1,2,3,4,5,6,8,9,10,11])


ds.rename(columns={0:'index', 1:'bookTitle', 2:'bookSeries', 3:'bookAuthors', 4:'ratingValue', 5:'ratingCount', 6:'reviewCount', 8:'numberOfPages', 9:'publishingDate', 10:'characters', 11:'setting'}, inplace=True)

normstring = lambda x : [i.translate(str.maketrans('', '', string.punctuation)).split() for i in x.fillna('') if len(i)>0]

,index,bookTitle,bookSeries,bookAuthors,ratingValue,ratingCount,reviewCount,numberOfPages,publishingDate,characters,setting
0,1,The Hunger Games,(The Hunger Games #1),Suzanne Collins,4.33,"6,416,595","172,694",374,September 14th 2008,"Katniss Everdeen,Peeta Mellark,Cato (Hunger Ga...","District 12, Panem,Capitol, Panem,Panem"
1,2,Harry Potter and the Order of the Phoenix,(Harry Potter #5),J.K. Rowling,4.50,"2,528,825","42,823",870,September 2004,"Sirius Black,Draco Malfoy,Ron Weasley,Petunia ...","Hogwarts School of Witchcraft and Wizardry,Lon..."
2,3,To Kill a Mockingbird,(To Kill a Mockingbird),Harper Lee,4.28,"4,533,872","91,933",324,May 23rd 2006,"Scout Finch,Atticus Finch,Jem Finch,Arthur Rad...","Maycomb, Alabama"
3,4,Pride and Prejudice,NaN,Jane Austen,4.26,"3,022,330","67,957",279,October 10th 2000,"Mr. Bennet,Mrs. Bennet,Jane Bennet,Elizabeth B...","United Kingdom,Derbyshire, England,England,Her..."
4,5,Twilight,(The Twilight Saga #1),Stephenie Meyer,3.60,"4,996,297","105,003",501,September 6th 2006,"Edward Cullen,Jacob Black,Laurent,Renee,Bella ...","Forks, Washington,Phoenix, Arizona,Washington ..."
5,6,The Book Thief,NaN,Markus Zusak,4.37,"1,848,678","113,655",552,March 14th 2006,"Liesel Meminger,Hans Hubermann,Rudy Steiner,Ro...","Molching,Germany"
6,7,Animal Farm,NaN,George Orwell,3.95,"2,762,891","56,860",141,April 1996,"Snowball,Napoleon,Clover,Boxer,Old Major,Murie...","England,United Kingdom"
7,8,The Chronicles of Narnia,(The Chronicles of Narnia (Publication Order) ...,C.S. Lewis,4.26,"522,676","10,424",767,September 16th 2002,"Polly,Aslan,Lucy Pevensie,Edmund Pevensie,Eust...","London, England"
8,9,J.R.R. Tolkien 4-Book Boxed Set: The Hobbit an...,(The Lord of the Rings #0-3),J.R.R. Tolkien,4.60,"110,952","1,802",1728,September 25th 2012,"Frodo Baggins,Gandalf,Bilbo Baggins,Gollum",Middle-earth
9,10,The Fault in Our Stars,NaN,John Green,4.20,"3,578,312","155,909",313,January 10th 2012,"Hazel Grace Lancaster,Augustus Waters,Isaac","Indianapolis, Indiana,Amsterdam"

In [11]:
normstring = lambda x : [i.translate(str.maketrans('', '', string.punctuation)).split() if len(i) > 0 else None for i in x.fillna('') ]


def normdate(x):
    r = list()
    for e in x.fillna(''):
        v = e.replace('th', ' ').replace('nd', ' ').replace('st', ' ').replace('rd', ' ')\
                       .translate(str.maketrans('', '', string.punctuation)).split()
        if len(v) > 3 or len(v) == 0:
            r.append(None)
        else:
            r.append(v)
    return r


normFloat = lambda x : [float(i.replace(',','')) for i in x]

In [99]:
normstring = lambda x : [i.translate(str.maketrans('', '', string.punctuation)).split() if len(i) > 0 else None for i in x.fillna('') ]


def normdate(x):
    r = list()
    for e in x.fillna(''):
        v = e.replace('th', ' ').replace('nd', ' ').replace('st', ' ').replace('rd', ' ')\
                       .translate(str.maketrans('', '', string.punctuation)).split()
        if len(v) > 3 or len(v) == 0:
            r.append(None)
        else:
            r.append(v)
    return r


normFloat = lambda x : [float(str(i).replace(',','')) if i == i else None for i in x]
normInt = lambda x : [int(i.replace(',','')) if i == i else None for i in x]
normPages = lambda x : [int(i.replace(',','')) if i == i and i.isnumeric() else None for i in x]

In [104]:
normPages(ds['numberOfPages'])

[374,
 870,
 324,
 279,
 501,
 552,
 141,
 767,
 1728,
 313,
 1037,
 193,
 64,
 464,
 489,
 503,
 239,
 532,
 1463,
 194,
 487,
 301,
 182,
 213,
 200,
 485,
 324,
 309,
 320,
 93,
 184,
 103,
 500,
 488,
 288,
 417,
 277,
 375,
 456,
 331,
 372,
 835,
 218,
 327,
 192,
 372,
 37,
 541,
 460,
 489,
 335,
 275,
 371,
 288,
 314,
 208,
 453,
 976,
 1153,
 389,
 478,
 505,
 759,
 294,
 325,
 964,
 240,
 423,
 465,
 449,
 237,
 304,
 496,
 452,
 332,
 152,
 546,
 399,
 1023,
 435,
 527,
 1168,
 96,
 227,
 145,
 821,
 342,
 637,
 654,
 324,
 734,
 302,
 481,
 652,
 264,
 529,
 123,
 335,
 662,
 659,
 244,
 503,
 176,
 216,
 307,
 201,
 487,
 226,
 26,
 210,
 320,
 341,
 272,
 448,
 279,
 343,
 196,
 391,
 218,
 1276,
 263,
 635,
 960,
 233,
 206,
 381,
 416,
 1116,
 798,
 176,
 296,
 366,
 137,
 348,
 443,
 525,
 692,
 215,
 64,
 815,
 368,
 351,
 76,
 219,
 154,
 327,
 32,
 491,
 72,
 398,
 503,
 518,
 418,
 567,
 361,
 240,
 127,
 1009,
 320,
 279,
 288,
 None,
 384,
 503,
 608,
 396,
 783,
 311,
 356,
 516,
 1177,
 521,
 610,
 293,
 882,
 288,
 406,
 347,
 326,
 1088,
 242,
 429,
 661,
 240,
 391,
 466,
 452,
 594,
 386,
 448,
 324,
 336,
 255,
 394,
 189,
 40,
 391,
 553,
 406,
 498,
 489,
 1556,
 143,
 179,
 340,
 197,
 228,
 233,
 242,
 176,
 165,
 421,
 425,
 392,
 425,
 465,
 232,
 291,
 360,
 400,
 969,
 592,
 349,
 366,
 294,
 471,
 291,
 448,
 729,
 370,
 525,
 264,
 566,
 559,
 446,
 441,
 319,
 305,
 301,
 314,
 224,
 481,
 667,
 338,
 639,
 897,
 370,
 207,
 563,
 444,
 438,
 1796,
 704,
 129,
 363,
 146,
 581,
 453,
 471,
 437,
 246,
 244,
 1248,
 406,
 973,
 560,
 352,
 149,
 546,
 403,
 352,
 195,
 562,
 679,
 288,
 513,
 416,
 292,
 374,
 626,
 532,
 904,
 390,
 194,
 209,
 288,
 201,
 544,
 221,
 248,
 515,
 231,
 137,
 1216,
 526,
 586,
 258,
 544,
 328,
 1007,
 305,
 369,
 321,
 245,
 201,
 329,
 306,
 256,
 318,
 307,
 399,
 296,
 32,
 208,
 1344,
 315,
 356,
 579,
 252,
 544,
 245,
 563,
 148,
 256,
 393,
 448,
 748,
 647,
 182,
 483,
 432,
 320,
 509,
 540,
 390,
 338,
 76,
 467,
 510,
 465,
 320,
 490,
 222,
 142,
 321,
 963,
 199,
 303,
 703,
 4100,
 418,
 603,
 144,
 725,
 301,
 370,
 117,
 849,
 308,
 289,
 386,
 140,
 1088,
 258,
 372,
 327,
 1061,
 445,
 352,
 369,
 389,
 337,
 182,
 410,
 1006,
 304,
 531,
 340,
 351,
 254,
 396,
 160,
 109,
 250,
 216,
 597,
 440,
 936,
 447,
 479,
 509,
 None,
 109,
 251,
 292,
 448,
 207,
 248,
 1392,
 383,
 320,
 276,
 420,
 338,
 1125,
 289,
 209,
 224,
 335,
 323,
 1690,
 253,
 468,
 460,
 565,
 870,
 272,
 307,
 119,
 1017,
 416,
 288,
 385,
 296,
 162,
 252,
 359,
 457,
 1049,
 363,
 521,
 421,
 836,
 452,
 867,
 351,
 374,
 580,
 559,
 403,
 334,
 1207,
 342,
 192,
 390,
 None,
 672,
 358,
 349,
 368,
 1520,
 371,
 337,
 579,
 374,
 430,
 297,
 64,
 246,
 181,
 294,
 444,
 32,
 336,
 728,
 376,
 385,
 448,
 338,
 456,
 198,
 249,
 368,
 440,
 291,
 433,
 288,
 32,
 541,
 491,
 912,
 241,
 335,
 589,
 408,
 383,
 217,
 421,
 648,
 272,
 104,
 230,
 304,
 104,
 328,
 928,
 501,
 1014,
 323,
 198,
 354,
 294,
 337,
 242,
 176,
 482,
 232,
 309,
 382,
 240,
 771,
 516,
 182,
 198,
 439,
 464,
 128,
 304,
 319,
 312,
 74,
 237,
 243,
 273,
 400,
 192,
 182,
 322,
 427,
 497,
 448,
 199,
 342,
 470,
 374,
 849,
 656,
 297,
 240,
 401,
 362,
 560,
 512,
 352,
 409,
 504,
 457,
 345,
 623,
 309,
 255,
 637,
 370,
 260,
 776,
 317,
 566,
 1087,
 555,
 115,
 454,
 212,
 183,
 75,
 274,
 126,
 528,
 320,
 182,
 624,
 751,
 304,
 369,
 435,
 70,
 552,
 656,
 389,
 463,
 536,
 319,
 993,
 485,
 480,
 210,
 None,
 284,
 752,
 342,
 544,
 444,
 1443,
 294,
 231,
 325,
 224,
 706,
 178,
 296,
 384,
 342,
 509,
 320,
 518,
 262,
 440,
 446,
 474,
 274,
 331,
 320,
 461,
 442,
 527,
 None,
 280,
 569,
 530,
 653,
 105,
 256,
 291,
 450,
 368,
 334,
 565,
 240,
 249,
 435,
 None,
 293,
 797,
 1139,
 310,
 325,
 182,
 369,
 337,
 400,
 689,
 480,
 318,
 382,
 291,
 64,
 444,
 355,
 174,
 214,
 444,
 292,
 288,
 228,
 149,
 572,
 239,
 617,
 533,
 335,
 181,
 209,
 464,
 360,
 130,
 304,
 355,
 229,
 766,
 391,
 80,
 400,
 405,
 178,
 607,
 99,
 608,
 357,
 352,
 372,
 315,
 248,
 516,
 320,
 252,
 250,
 448,
 506,
 224,
 386,
 288,
 384,
 648,
 468,
 554,
 144,
 243,
 246,
 592,
 338,
 426,
 303,
 316,
 418,
 324,
 369,
 357,
 528,
 515,
 1050,
 516,
 336,
 323,
 355,
 288,
 394,
 295,
 1248,
 537,
 432,
 512,
 326,
 462,
 97,
 279,
 566,
 705,
 480,
 776,
 375,
 448,
 699,
 208,
 147,
 289,
 351,
 729,
 256,
 376,
 397,
 370,
 192,
 288,
 310,
 453,
 296,
 530,
 351,
 276,
 404,
 640,
 421,
 336,
 255,
 800,
 498,
 512,
 254,
 None,
 420,
 436,
 345,
 337,
 None,
 322,
 288,
 303,
 845,
 77,
 262,
 335,
 463,
 160,
 384,
 349,
 312,
 451,
 213,
 1774,
 548,
 353,
 224,
 403,
 352,
 249,
 323,
 383,
 302,
 314,
 327,
 358,
 72,
 435,
 590,
 507,
 400,
 416,
 None,
 720,
 259,
 448,
 342,
 289,
 341,
 401,
 254,
 302,
 123,
 469,
 56,
 150,
 None,
 324,
 432,
 418,
 146,
 483,
 432,
 384,
 410,
 399,
 230,
 442,
 416,
 208,
 513,
 266,
 452,
 146,
 344,
 355,
 306,
 681,
 195,
 400,
 592,
 240,
 359,
 497,
 178,
 294,
 956,
 400,
 354,
 689,
 896,
 70,
 217,
 52,
 409,
 544,
 489,
 405,
 219,
 336,
 284,
 318,
 306,
 None,
 165,
 827,
 376,
 230,
 286,
 303,
 290,
 645,
 580,
 354,
 359,
 281,
 None,
 525,
 469,
 313,
 635,
 121,
 387,
 390,
 320,
 592,
 487,
 112,
 309,
 297,
 404,
 909,
 291,
 340,
 355,
 267,
 352,
 318,
 282,
 222,
 300,
 640,
 300,
 341,
 180,
 454,
 452,
 352,
 750,
 149,
 359,
 108,
 624,
 545,
 None,
 515,
 790,
 197,
 468,
 73,
 286,
 290,
 394,
 325,
 608,
 564,
 374,
 433,
 2088,
 390,
 512,
 578,
 662,
 247,
 1136,
 1173,
 699,
 400,
 402,
 629,
 320,
 485,
 485,
 756,
 289,
 447,
 531,
 224,
 1859,
 304,
 734,
 243,
 365,
 347,
 487,
 None,
 360,
 None,
 300,
 304,
 432,
 332,
 283,
 337,
 218,
 470,
 469,
 367,
 520,
 368,
 236,
 200,
 247,
 316,
 258,
 304,
 576,
 210,
 229,
 475,
 376,
 608,
 322,
 287,
 638,
 132,
 320,
 623,
 325,
 256,
 275,
 499,
 803,
 380,
 735,
 419,
 301,
 185,
 160,
 1149,
 859,
 560,
 128,
 370,
 422,
 348,
 ...]